$border-bl1: 1px solid #000000;
$case-color: #E0B17D;
$active-button: #00AD20;
$inactive-button: #5A9966;
$active-display: #5498d1;
$inactive-display: #79846c;

// #743d30;

#root{
    display: flex;
    height: 98vh;
}

#drum-machine {    
    display: flex;
    flex-direction: column;    
    width: 25em;
    margin: auto;
    border: $border-bl1;
    text-align: center;   
    background-color: $case-color;
}

.display-wrap {
    display: flex;
    margin: 0.5em 0.5em;
    height: 2em;
    border: $border-bl1; 
    background-color: $active-display;
}

.display-active-color {
    background-color: $active-display;
}

.display-inactive-color {
    background-color: $inactive-display;
}

#display { 
    margin: auto;    
}

.drum-pads {
    display: flex;
    flex-wrap: wrap;
    width: 20em;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.drum-pads-row {
    display: flex;
    flex-direction: row;    
}

.drum-pad {        
    width: 5em;
    height: 5em;
    border: $border-bl1; 
    padding-top: 1.7em;
    box-sizing: border-box; 
    background-color: $inactive-button;
    cursor: pointer;    
}

.power-on-pad {
    background: radial-gradient(#b6d6bc, $inactive-button)
}

.letter-key {
    margin: auto;
}

.drum-pad-controls {    
    border: $border-bl1; 
    margin-bottom: 0.5em;
    margin-right: 0.5em;    
}

.volume-wrapper {
    display: inline-block;
    width: 2em;    
    border: $border-bl1; 
    background-color: #743d30;
    
    input {
        width: 16em;
        height: 2em;
        margin: 0;
        transform-origin: 8.5em 8.5em 0;
        transform: rotate(-90deg);  
        cursor: pointer;      
    }
  }

.switch-btn-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #E0852C;
}

.switch-btn {
    width: 4em;
    height: 1.5em;
    margin: 1em;
    border: $border-bl1;
    cursor: pointer;    
}

.button-active-color {
    background-color: $active-button;
    background: radial-gradient(#b6d6bc, $active-button)
}

.button-active-color-power-off {
    background-color: $active-button;
}

.button-inactive-color {
    background-color: $inactive-button;
}

@media (max-width: 750px) {
  
}